html {
  font-size: 18px;
  font-weight: normal;
  font-family: "Questrial", sans-serif;
  color: #000;
  background: rgb(255,255,255);
}

h1 {
  font-size: 60px;
  text-align: center;
  margin: 0;
  padding: 20px 0;
  color: #303030;
  text-shadow: 3px 3px 1px #ff9b00;
}

p, li {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 850px;
  margin: 0 auto;
  padding: 0 20px 20px 20px;
}

img {
  display: block;
  margin: 0 auto;
}

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
  text-shadow: 1px 1px 1px #ff9b00;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
  text-shadow: 1px 1px 1px #ff9b00;
}

footer {
  font-size: 14px;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
}

.signature {
  word-break: break-all;
}
